<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7E30CEE1DF93B0C005AE2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7E30D0A1DF93B0C005AE2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7E30D151DF93B0C005AE2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
